.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("/public/images/film-header.jpeg");
  background-size: contain;
}

.header {
  background-color: #1b8b57;
  color: whitesmoke;
  margin: 0px;
  padding: 10px;
  font-family: fantasy;
  margin-bottom: 30px;
  width: -webkit-fill-available;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header > h1 {
  text-decoration: underline;
  width: fit-content;
  margin: 0px;
  font-size: 40px;
  text-shadow: 2px 2px black;
}

.header > div {
  display: flex;
  flex-direction: row;
  width: 150px;
  justify-content: space-between;
}
