.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: darkslategray;
}

.header {
  background-color: #1b8b57;
    color: whitesmoke;
    margin: 0px;
    padding: 10px;
    font-family: fantasy;
    margin-bottom: 30px;
    width: -webkit-fill-available;
}