.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: #225332;
  height: 100%;
}

.header {
  /* background-color: #1b8b57; */
  color: whitesmoke;
  margin: 0px;
  padding: 10px;
  font-family: fantasy;
  margin-bottom: 30px;
  width: -webkit-fill-available;
  display: flex;
  justify-content: center;
  background-image: url("/public/images/film-header.jpeg");
  background-size: 13rem;
}

.header > h1 {
  background-color: rgb(34 83 50 / 79%);
  text-decoration: underline;
  width: fit-content;
  margin: 0px;
  font-size: 40px;
}
